
<!DOCTYPE html>
<html lang="en-US" class="no-js
									 scheme_default										">
<head>
			<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="format-detection" content="telephone=no">
		<link rel="profile" href="//gmpg.org/xfn/11">
		<title>Contacts &#8211; Ozeum</title>
<meta name='robots' content='noindex, nofollow'>
<link rel='dns-prefetch' href='//stats.wp.com'>
<link rel='dns-prefetch' href='//fonts.googleapis.com'>
<link rel="alternate" type="application/rss+xml" title="Ozeum &raquo; Feed" href="Front_Office/feed/index.htm">
<link rel="alternate" type="application/rss+xml" title="Ozeum &raquo; Comments Feed" href="Front_Office/comments/feed/index.htm">
<link rel="alternate" type="text/calendar" title="Ozeum &raquo; iCal Feed" href="Front_Office/events/ozeum-8f04dff3a9b.ics?ical=1">
<meta property="og:url" content="https://ozeum.themerex.net/contacts/ ">
			<meta property="og:title" content="ADDRESS">
			<meta property="og:description" content="Get In Touch With Us		
		Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.		










</head>

<body class="page-template-default page page-id-108 wp-custom-logo theme-ozeum preloader woocommerce-no-js tribe-no-js skin_default body_tag scheme_default blog_mode_page body_style_wide is_single sidebar_hide expand_content remove_margins trx_addons_present header_type_custom header_style_header-custom-146 header_position_default menu_side_none no_layout elementor-default elementor-kit-4719 elementor-page elementor-page-108">

	<div id="page_preloader"></div>
	<div class="body_wrap">

		<div class="page_wrap">
			
							<a class="ozeum_skip_link skip_to_content_link" href="#content_skip_link_anchor" tabindex="1">Skip to content</a>
								<a class="ozeum_skip_link skip_to_footer_link" href="#footer_skip_link_anchor" tabindex="1">Skip to footer</a>
				
				<header class="top_panel top_panel_custom top_panel_custom_146 top_panel_custom_main-header				 without_bg_image">
			<div data-elementor-type="cpt_layouts" data-elementor-id="146" class="elementor elementor-146">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-7b55fce elementor-section-full_width elementor-section-content-middle sc_layouts_row sc_layouts_row_type_narrow scheme_dark no_margin_item sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile elementor-section-height-default elementor-section-height-default" data-id="7b55fce" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-c58c3cd sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="c58c3cd" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-d8444f4 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_iconed_text" data-id="d8444f4" data-element_type="widget" data-widget_type="trx_sc_layouts_iconed_text.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_iconed_text_196366346" class="sc_layouts_iconed_text"><span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-time sc_icon_type_icons"></span><span class="sc_layouts_item_details sc_layouts_iconed_text_details"><span class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">The museum is open today 10 am - 5 pm</span></span><!-- /.sc_layouts_iconed_text_details --></div><!-- /.sc_layouts_iconed_text -->		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-8783aec sc_layouts_column_align_right sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="8783aec" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-1de921c animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_iconed_text" data-id="1de921c" data-element_type="widget" data-widget_type="trx_sc_layouts_iconed_text.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_iconed_text_1485793088" class="sc_layouts_iconed_text"><span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-placeholder-filled-point sc_icon_type_icons"></span><span class="sc_layouts_item_details sc_layouts_iconed_text_details"><span class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">34th Ave, Queens, NY 11106</span></span><!-- /.sc_layouts_iconed_text_details --></div><!-- /.sc_layouts_iconed_text -->		</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-3c6f615 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_search" data-id="3c6f615" data-element_type="widget" data-widget_type="trx_sc_layouts_search.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_search_566714691" class="sc_layouts_search"><div class="search_wrap search_style_normal layouts_search">
	<div class="search_form_wrap">
		<form role="search" method="get" class="search_form" action="https://ozeum.themerex.net/">
			<input type="hidden" value="" name="post_types">
			<input type="text" class="search_field" placeholder="Search" value="" name="s">
			<button type="submit" class="search_submit trx_addons_icon-search"></button>
					</form>
	</div>
	</div></div><!-- /.sc_layouts_search -->		</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-572b3aa animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_language" data-id="572b3aa" data-element_type="widget" data-widget_type="trx_sc_layouts_language.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_language_1944772866" class="sc_layouts_language sc_layouts_menu sc_layouts_menu_default">			<ul class="sc_layouts_language_menu sc_layouts_dropdown sc_layouts_menu_nav">
				<li class="menu-item menu-item-has-children">
					<a href="#"><span class="menu-item-title">English</span></a><ul>
<li class="menu-item current-menu-item"><a rel="alternate" hreflang="en" href="#"><span class="menu-item-title">English</span></a></li>
<li class="menu-item"><a rel="alternate" hreflang="de" href="#"><span class="menu-item-title">Deutsch</span></a></li>
<li class="menu-item"><a rel="alternate" hreflang="es" href="#"><span class="menu-item-title">Español</span></a></li></ul>				</li>
			</ul>
			</div><!-- /.sc_layouts_language -->		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-68ed595 elementor-section-full_width elementor-section-content-middle sc_layouts_row sc_layouts_row_type_narrow scheme_dark no_margin_item sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_mobile elementor-section-height-default elementor-section-height-default" data-id="68ed595" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8661199 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="8661199" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-8ab4b7f animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_iconed_text" data-id="8ab4b7f" data-element_type="widget" data-widget_type="trx_sc_layouts_iconed_text.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_iconed_text_899584902" class="sc_layouts_iconed_text"><span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-time sc_icon_type_icons"></span><span class="sc_layouts_item_details sc_layouts_iconed_text_details"><span class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">open today 10 am - 5 pm</span></span><!-- /.sc_layouts_iconed_text_details --></div><!-- /.sc_layouts_iconed_text -->		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-4aa8f74 sc_layouts_column_align_right sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="4aa8f74" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-c310e4c animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_iconed_text" data-id="c310e4c" data-element_type="widget" data-widget_type="trx_sc_layouts_iconed_text.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_iconed_text_984769712" class="sc_layouts_iconed_text"><span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-placeholder-filled-point sc_icon_type_icons"></span><span class="sc_layouts_item_details sc_layouts_iconed_text_details"><span class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">34th Ave, Queens, NY 11106</span></span><!-- /.sc_layouts_iconed_text_details --></div><!-- /.sc_layouts_iconed_text -->		</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-54fcc3d animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_search" data-id="54fcc3d" data-element_type="widget" data-widget_type="trx_sc_layouts_search.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_search_262113261" class="sc_layouts_search"><div class="search_wrap search_style_fullscreen layouts_search">
	<div class="search_form_wrap">
		<form role="search" method="get" class="search_form" action="https://ozeum.themerex.net/">
			<input type="hidden" value="" name="post_types">
			<input type="text" class="search_field" placeholder="Search" value="" name="s">
			<button type="submit" class="search_submit trx_addons_icon-search"></button>
							<a class="search_close trx_addons_icon-delete"></a>
					</form>
	</div>
	</div></div><!-- /.sc_layouts_search -->		</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-0975447 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_language" data-id="0975447" data-element_type="widget" data-widget_type="trx_sc_layouts_language.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_language_2145400914" class="sc_layouts_language sc_layouts_menu sc_layouts_menu_default">			<ul class="sc_layouts_language_menu sc_layouts_dropdown sc_layouts_menu_nav">
				<li class="menu-item menu-item-has-children">
					<a href="#"><span class="menu-item-title">English</span></a><ul>
<li class="menu-item current-menu-item"><a rel="alternate" hreflang="en" href="#"><span class="menu-item-title">English</span></a></li>
<li class="menu-item"><a rel="alternate" hreflang="de" href="#"><span class="menu-item-title">Deutsch</span></a></li>
<li class="menu-item"><a rel="alternate" hreflang="es" href="#"><span class="menu-item-title">Español</span></a></li></ul>				</li>
			</ul>
			</div><!-- /.sc_layouts_language -->		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-26174b5 elementor-section-full_width scheme_dark sc_bg_mask_3 elementor-section-height-default elementor-section-height-default" data-id="26174b5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-73941a3 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="73941a3" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-9adac3f elementor-section-full_width elementor-section-content-middle sc_layouts_row_fixed sc_layouts_row_fixed_always sc_layouts_row sc_layouts_row_type_compact no_margin_item sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile elementor-section-height-default elementor-section-height-default" data-id="9adac3f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d6fb9f7 sc_layouts_column_align_left sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="d6fb9f7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-acc04a4 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu" data-id="acc04a4" data-element_type="widget" data-widget_type="trx_sc_layouts_menu.default">
				<div class="elementor-widget-container">
			<nav class="sc_layouts_menu sc_layouts_menu_default sc_layouts_menu_dir_horizontal menu_hover_fade_box" id="trx_sc_layouts_menu_1893809804" data-animation-in="fadeInUpSmall" data-animation-out="fadeOutDownSmall"><ul id="sc_layouts_menu_713247397" class="sc_layouts_menu_nav"><li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113"><a href="#"><span>Home</span></a>
<ul class="sub-menu"><li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-118"><a href="Front_Office/index.htm"><span>Museum Home</span></a></li><li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="Front_Office/home-2/index.htm"><span>Fullscreen Showcase</span></a></li><li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="Front_Office/home-3/index.htm"><span>Exhibition Center</span></a></li><li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="Front_Office/home-4/index.htm"><span>Single Exhibition</span></a></li><li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="Front_Office/home-5/index.htm"><span>Art Gallery</span></a></li><li id="menu-item-4404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4404"><a href="Front_Office/home-6/index.htm"><span>Video Background</span></a></li><li id="menu-item-4539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4539"><a href="Front_Office/home-7/index.htm"><span>Virtual Tour</span></a></li><li id="menu-item-5034" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5034"><a href="Front_Office/home-8/index.htm"><span>Artist Portfolio</span></a></li><li id="menu-item-5457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5457"><a target="_blank" rel="noopener" href="http://art.ozeum.themerex.net/"><span>Modern Art Gallery</span></a></li><li id="menu-item-5458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5458"><a target="_blank" rel="noopener" href="https://rtl.ozeum.themerex.net/"><span>Home RTL</span></a></li></ul>
</li><li id="menu-item-123" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-123"><a href="#"><span>Exhibitions</span></a>
<ul class="sub-menu"><li id="menu-item-1414" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1414"><a href="Front_Office/events/list/index.htm"><span>List</span></a></li><li id="menu-item-1412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1412"><a href="Front_Office/events/index.htm"><span>Calendar</span></a></li></ul>
</li><li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="Front_Office/collections/index.htm"><span>Collections</span></a></li><li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="Front_Office/about-us/index.htm"><span>About Us</span></a></li></ul></nav><!-- /.sc_layouts_menu -->		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b29acf7 sc_layouts_column_align_center sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="b29acf7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-9ac5f49 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo" data-id="9ac5f49" data-element_type="widget" data-widget_type="trx_sc_layouts_logo.default">
				<div class="elementor-widget-container">
			<a href="Front_Office/index.htm" id="trx_sc_layouts_logo_1099673480" class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_1443852032"><img class="logo_image" src="Front_Office/wp-content/uploads/2019/10/logo.png" srcset="Front_Office/wp-content/uploads/2019/10/logo-retina.png 2x" alt="Ozeum" width="162" height="23"></a><!-- /.sc_layouts_logo -->		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3eb5b02 sc_layouts_column_align_right sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="3eb5b02" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-2c719b4 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu" data-id="2c719b4" data-element_type="widget" data-widget_type="trx_sc_layouts_menu.default">
				<div class="elementor-widget-container">
			<nav class="sc_layouts_menu sc_layouts_menu_default sc_layouts_menu_dir_horizontal menu_hover_fade_box" id="trx_sc_layouts_menu_818865188" data-animation-in="fadeInUpSmall" data-animation-out="fadeOut"><ul id="sc_layouts_menu_1109411578" class="sc_layouts_menu_nav"><li id="menu-item-140" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-140"><a href="#"><span>Pages</span></a>
<ul class="sub-menu"><li id="menu-item-141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-141"><a href="#"><span>Tools</span></a>
	<ul class="sub-menu"><li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="Front_Office/typography/index.htm"><span>Typography</span></a></li><li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a href="Front_Office/shortcodes/index.htm"><span>Shortcodes</span></a></li><li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-135"><a rel="privacy-policy" href="Front_Office/privacy-policy/index.htm"><span>Privacy Policy</span></a></li><li id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="Front_Office/service-plus/index.htm"><span>Service Plus</span></a></li></ul>
</li><li id="menu-item-2295" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2295"><a href="#"><span>Gallery</span></a>
	<ul class="sub-menu"><li id="menu-item-2298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2298"><a href="Front_Office/gallery-grid/index.htm"><span>Grid</span></a></li><li id="menu-item-2297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2297"><a href="Front_Office/gallery-masonry/index.htm"><span>Masonry</span></a></li><li id="menu-item-2296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2296"><a href="Front_Office/gallery-cobbles/index.htm"><span>Cobbles</span></a></li></ul>
</li><li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="Front_Office/our-staff/index.htm"><span>Our Staff</span></a></li></ul>
</li><li id="menu-item-142" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-142"><a href="#"><span>Blog</span></a>
<ul class="sub-menu"><li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="Front_Office/all-posts/index.htm"><span>All Posts</span></a></li><li id="menu-item-1457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1457"><a href="#"><span>Single</span></a>
	<ul class="sub-menu"><li id="menu-item-1458" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1458"><a href="Front_Office/how-to-become-an-art-collector/index.htm"><span>Style 1</span></a></li><li id="menu-item-1459" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1459"><a href="Front_Office/how-to-start-your-own-art-collection/index.htm"><span>Style 2</span></a></li></ul>
</li><li id="menu-item-143" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-143"><a href="#"><span>Classic</span></a>
	<ul class="sub-menu"><li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="Front_Office/classic-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="Front_Office/classic-3-columns/index.htm"><span>3 columns</span></a></li></ul>
</li><li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-144"><a href="#"><span>Portfolio</span></a>
	<ul class="sub-menu"><li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="Front_Office/portfolio-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="Front_Office/portfolio-3-columns/index.htm"><span>3 columns</span></a></li><li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="Front_Office/portfolio-4-columns/index.htm"><span>4 columns</span></a></li></ul>
</li><li id="menu-item-145" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145"><a href="#"><span>Chess</span></a>
	<ul class="sub-menu"><li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="Front_Office/chess-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="Front_Office/chess-4-columns/index.htm"><span>4 columns</span></a></li><li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="Front_Office/chess-6-columns/index.htm"><span>6 columns</span></a></li></ul>
</li></ul>
</li><li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a href="Front_Office/shop/index.htm"><span>Shop</span></a></li><li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-108 current_page_item menu-item-130"><a href="index.htm" aria-current="page"><span>Contacts</span></a></li></ul></nav><!-- /.sc_layouts_menu -->		</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-37daf13 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_button" data-id="37daf13" data-element_type="widget" data-widget_type="trx_sc_button.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_button_145398608" class="sc_item_button sc_button_wrap"><a href="Front_Office/visit/index.htm" class="sc_button sc_button_default sc_button_size_normal sc_button_icon_left"><span class="sc_button_text"><span class="sc_button_title">Visit</span></span><!-- /.sc_button_text --></a><!-- /.sc_button --></div><!-- /.sc_item_button -->		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-711896d elementor-section-full_width elementor-section-content-middle sc_layouts_row_fixed sc_layouts_row_fixed_always sc_layouts_row sc_layouts_row_type_compact no_margin_item sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_mobile elementor-section-height-default elementor-section-height-default" data-id="711896d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ab11763 sc_layouts_column_align_left sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="ab11763" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-58c28fa animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo" data-id="58c28fa" data-element_type="widget" data-widget_type="trx_sc_layouts_logo.default">
				<div class="elementor-widget-container">
			<a href="Front_Office/index.htm" id="trx_sc_layouts_logo_1622041991" class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_640569353"><img class="logo_image" src="Front_Office/wp-content/uploads/2019/10/logo.png" srcset="Front_Office/wp-content/uploads/2019/10/logo-retina.png 2x" alt="Ozeum" width="162" height="23"></a><!-- /.sc_layouts_logo -->		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-96433ed sc_layouts_column_align_right sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="96433ed" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-ecce9ea animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu" data-id="ecce9ea" data-element_type="widget" data-widget_type="trx_sc_layouts_menu.default">
				<div class="elementor-widget-container">
			<nav class="sc_layouts_menu sc_layouts_menu_default sc_layouts_menu_dir_horizontal menu_hover_fade_box" id="trx_sc_layouts_menu_1420856499" data-animation-in="fadeInUpSmall" data-animation-out="fadeOut"><ul id="sc_layouts_menu_642993293" class="sc_layouts_menu_nav"><li id="menu-item-3438" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3438"><a href="#"><span>Home</span></a>
<ul class="sub-menu"><li id="menu-item-3439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-3439"><a href="Front_Office/index.htm"><span>Museum Home</span></a></li><li id="menu-item-3440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3440"><a href="Front_Office/home-2/index.htm"><span>Fullscreen Showcase</span></a></li><li id="menu-item-3441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3441"><a href="Front_Office/home-3/index.htm"><span>Exhibition Center</span></a></li><li id="menu-item-3442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3442"><a href="Front_Office/home-4/index.htm"><span>Single Exhibition</span></a></li><li id="menu-item-3443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3443"><a href="Front_Office/home-5/index.htm"><span>Art Gallery</span></a></li><li id="menu-item-4403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4403"><a href="Front_Office/home-6/index.htm"><span>Video Background</span></a></li><li id="menu-item-4540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4540"><a href="Front_Office/home-7/index.htm"><span>Virtual Tour</span></a></li><li id="menu-item-5033" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5033"><a href="Front_Office/home-8/index.htm"><span>Artist Portfolio</span></a></li><li id="menu-item-5455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5455"><a target="_blank" rel="noopener" href="http://art.ozeum.themerex.net/"><span>Modern Art Gallery</span></a></li><li id="menu-item-5456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5456"><a target="_blank" rel="noopener" href="https://rtl.ozeum.themerex.net/"><span>Home RTL</span></a></li></ul>
</li><li id="menu-item-3444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3444"><a href="#"><span>Pages</span></a>
<ul class="sub-menu"><li id="menu-item-3445" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3445"><a href="#"><span>Tools</span></a>
	<ul class="sub-menu"><li id="menu-item-3451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3451"><a href="Front_Office/typography/index.htm"><span>Typography</span></a></li><li id="menu-item-3450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3450"><a href="Front_Office/shortcodes/index.htm"><span>Shortcodes</span></a></li><li id="menu-item-3448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-3448"><a rel="privacy-policy" href="Front_Office/privacy-policy/index.htm"><span>Privacy Policy</span></a></li><li id="menu-item-3449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3449"><a href="Front_Office/service-plus/index.htm"><span>Service Plus</span></a></li></ul>
</li><li id="menu-item-3446" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3446"><a href="#"><span>Gallery</span></a>
	<ul class="sub-menu"><li id="menu-item-3453" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3453"><a href="Front_Office/gallery-grid/index.htm"><span>Grid</span></a></li><li id="menu-item-3454" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3454"><a href="Front_Office/gallery-masonry/index.htm"><span>Masonry</span></a></li><li id="menu-item-3452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3452"><a href="Front_Office/gallery-cobbles/index.htm"><span>Cobbles</span></a></li></ul>
</li><li id="menu-item-3447" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3447"><a href="#"><span>Exhibitions</span></a>
	<ul class="sub-menu"><li id="menu-item-3455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3455"><a href="Front_Office/events/list/index.htm"><span>List</span></a></li><li id="menu-item-3456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3456"><a href="Front_Office/events/index.htm"><span>Calendar</span></a></li></ul>
</li><li id="menu-item-3457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3457"><a href="Front_Office/about-us/index.htm"><span>About Us</span></a></li><li id="menu-item-3458" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3458"><a href="Front_Office/collections/index.htm"><span>Collections</span></a></li><li id="menu-item-3459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3459"><a href="Front_Office/our-staff/index.htm"><span>Our Staff</span></a></li><li id="menu-item-4208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4208"><a href="Front_Office/visit/index.htm"><span>Visit</span></a></li></ul>
</li><li id="menu-item-3460" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3460"><a href="#"><span>Blog</span></a>
<ul class="sub-menu"><li id="menu-item-3461" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3461"><a href="Front_Office/all-posts/index.htm"><span>All Posts</span></a></li><li id="menu-item-3462" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3462"><a href="#"><span>Single</span></a>
	<ul class="sub-menu"><li id="menu-item-3463" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3463"><a href="Front_Office/how-to-become-an-art-collector/index.htm"><span>Style 1</span></a></li><li id="menu-item-3464" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3464"><a href="Front_Office/how-to-start-your-own-art-collection/index.htm"><span>Style 2</span></a></li></ul>
</li><li id="menu-item-3465" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3465"><a href="#"><span>Classic</span></a>
	<ul class="sub-menu"><li id="menu-item-3471" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3471"><a href="Front_Office/classic-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu-item-3472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3472"><a href="Front_Office/classic-3-columns/index.htm"><span>3 columns</span></a></li></ul>
</li><li id="menu-item-3466" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3466"><a href="#"><span>Portfolio</span></a>
	<ul class="sub-menu"><li id="menu-item-3473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3473"><a href="Front_Office/portfolio-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu-item-3474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3474"><a href="Front_Office/portfolio-3-columns/index.htm"><span>3 columns</span></a></li><li id="menu-item-3475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3475"><a href="Front_Office/portfolio-4-columns/index.htm"><span>4 columns</span></a></li></ul>
</li><li id="menu-item-3467" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3467"><a href="#"><span>Chess</span></a>
	<ul class="sub-menu"><li id="menu-item-3468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3468"><a href="Front_Office/chess-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu-item-3469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3469"><a href="Front_Office/chess-4-columns/index.htm"><span>4 columns</span></a></li><li id="menu-item-3470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3470"><a href="Front_Office/chess-6-columns/index.htm"><span>6 columns</span></a></li></ul>
</li></ul>
</li><li id="menu-item-3477" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3477"><a href="Front_Office/shop/index.htm"><span>Shop</span></a></li><li id="menu-item-3476" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-108 current_page_item menu-item-3476"><a href="index.htm" aria-current="page"><span>Contacts</span></a></li></ul></nav><!-- /.sc_layouts_menu -->		</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-01fbb44 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_button" data-id="01fbb44" data-element_type="widget" data-widget_type="trx_sc_button.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_button_1240920417" class="sc_item_button sc_button_wrap"><a href="Front_Office/visit/index.htm" class="sc_button sc_button_default sc_button_size_normal sc_button_icon_left"><span class="sc_button_text"><span class="sc_button_title">Visit</span></span><!-- /.sc_button_text --></a><!-- /.sc_button --></div><!-- /.sc_item_button -->		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-1c4050b elementor-section-full_width elementor-section-content-middle sc_layouts_row_fixed sc_layouts_row_fixed_always sc_layouts_row sc_layouts_row_type_compact sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet elementor-section-height-default elementor-section-height-default" data-id="1c4050b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9c2200c sc_layouts_column_align_left sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="9c2200c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-5b2321f animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo" data-id="5b2321f" data-element_type="widget" data-widget_type="trx_sc_layouts_logo.default">
				<div class="elementor-widget-container">
			<a href="Front_Office/index.htm" id="trx_sc_layouts_logo_273041615" class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_1467750021"><img class="logo_image" src="Front_Office/wp-content/uploads/2019/10/logo.png" srcset="Front_Office/wp-content/uploads/2019/10/logo-retina.png 2x" alt="Ozeum" width="162" height="23"></a><!-- /.sc_layouts_logo -->		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1de54eb sc_layouts_column_align_right sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="1de54eb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-c59b997 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu" data-id="c59b997" data-element_type="widget" data-widget_type="trx_sc_layouts_menu.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_menu_268032375" class="sc_layouts_iconed_text sc_layouts_menu_mobile_button_burger sc_layouts_menu_mobile_button without_menu">
		<a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
			<span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
		</a>
		</div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-5d9bd81 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d9bd81" data-element_type="section">
						<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0ef7a92 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="0ef7a92" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-144b6cc animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="144b6cc" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-a45f085 sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="a45f085" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-118aeba animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_title" data-id="118aeba" data-element_type="widget" data-widget_type="trx_sc_layouts_title.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_layouts_title_1690157757" class="sc_layouts_title sc_align_center with_content without_image without_tint"><div class="sc_layouts_title_content"><div class="sc_layouts_title_title">							<h1 class="sc_layouts_title_caption">Contacts</h1>
							</div><div class="sc_layouts_title_breadcrumbs"><div class="breadcrumbs"><a class="breadcrumbs_item home" href="Front_Office/index.htm">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Contacts</span></div></div></div><!-- .sc_layouts_title_content --></div><!-- /.sc_layouts_title -->		</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-fcbae9b animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="fcbae9b" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-d4c727c sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="d4c727c" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
							</div>
		</header>
<div class="menu_mobile_overlay"></div>
<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
	<div class="menu_mobile_inner">
		<a class="menu_mobile_close theme_button_close"><span class="theme_button_close_icon"></span></a>
		<a class="sc_layouts_logo" href="Front_Office/index.htm">
		<img src="Front_Office/wp-content/uploads/2019/10/logo.png" srcset="Front_Office/wp-content/uploads/2019/10/logo-retina.png 2x" alt="Ozeum" width="162" height="23">	</a>
	<nav class="menu_mobile_nav_area" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement"><ul id="menu_mobile_931189167"><li id="menu_mobile-item-3438" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3438"><a href="#"><span>Home</span></a>
<ul class="sub-menu"><li id="menu_mobile-item-3439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-3439"><a href="Front_Office/index.htm"><span>Museum Home</span></a></li><li id="menu_mobile-item-3440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3440"><a href="Front_Office/home-2/index.htm"><span>Fullscreen Showcase</span></a></li><li id="menu_mobile-item-3441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3441"><a href="Front_Office/home-3/index.htm"><span>Exhibition Center</span></a></li><li id="menu_mobile-item-3442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3442"><a href="Front_Office/home-4/index.htm"><span>Single Exhibition</span></a></li><li id="menu_mobile-item-3443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3443"><a href="Front_Office/home-5/index.htm"><span>Art Gallery</span></a></li><li id="menu_mobile-item-4403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4403"><a href="Front_Office/home-6/index.htm"><span>Video Background</span></a></li><li id="menu_mobile-item-4540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4540"><a href="Front_Office/home-7/index.htm"><span>Virtual Tour</span></a></li><li id="menu_mobile-item-5033" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5033"><a href="Front_Office/home-8/index.htm"><span>Artist Portfolio</span></a></li><li id="menu_mobile-item-5455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5455"><a target="_blank" rel="noopener" href="http://art.ozeum.themerex.net/"><span>Modern Art Gallery</span></a></li><li id="menu_mobile-item-5456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5456"><a target="_blank" rel="noopener" href="https://rtl.ozeum.themerex.net/"><span>Home RTL</span></a></li></ul>
</li><li id="menu_mobile-item-3444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3444"><a href="#"><span>Pages</span></a>
<ul class="sub-menu"><li id="menu_mobile-item-3445" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3445"><a href="#"><span>Tools</span></a>
	<ul class="sub-menu"><li id="menu_mobile-item-3451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3451"><a href="Front_Office/typography/index.htm"><span>Typography</span></a></li><li id="menu_mobile-item-3450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3450"><a href="Front_Office/shortcodes/index.htm"><span>Shortcodes</span></a></li><li id="menu_mobile-item-3448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-3448"><a rel="privacy-policy" href="Front_Office/privacy-policy/index.htm"><span>Privacy Policy</span></a></li><li id="menu_mobile-item-3449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3449"><a href="Front_Office/service-plus/index.htm"><span>Service Plus</span></a></li></ul>
</li><li id="menu_mobile-item-3446" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3446"><a href="#"><span>Gallery</span></a>
	<ul class="sub-menu"><li id="menu_mobile-item-3453" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3453"><a href="Front_Office/gallery-grid/index.htm"><span>Grid</span></a></li><li id="menu_mobile-item-3454" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3454"><a href="Front_Office/gallery-masonry/index.htm"><span>Masonry</span></a></li><li id="menu_mobile-item-3452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3452"><a href="Front_Office/gallery-cobbles/index.htm"><span>Cobbles</span></a></li></ul>
</li><li id="menu_mobile-item-3447" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3447"><a href="#"><span>Exhibitions</span></a>
	<ul class="sub-menu"><li id="menu_mobile-item-3455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3455"><a href="Front_Office/events/list/index.htm"><span>List</span></a></li><li id="menu_mobile-item-3456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3456"><a href="Front_Office/events/index.htm"><span>Calendar</span></a></li></ul>
</li><li id="menu_mobile-item-3457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3457"><a href="Front_Office/about-us/index.htm"><span>About Us</span></a></li><li id="menu_mobile-item-3458" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3458"><a href="Front_Office/collections/index.htm"><span>Collections</span></a></li><li id="menu_mobile-item-3459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3459"><a href="Front_Office/our-staff/index.htm"><span>Our Staff</span></a></li><li id="menu_mobile-item-4208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4208"><a href="Front_Office/visit/index.htm"><span>Visit</span></a></li></ul>
</li><li id="menu_mobile-item-3460" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3460"><a href="#"><span>Blog</span></a>
<ul class="sub-menu"><li id="menu_mobile-item-3461" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3461"><a href="Front_Office/all-posts/index.htm"><span>All Posts</span></a></li><li id="menu_mobile-item-3462" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3462"><a href="#"><span>Single</span></a>
	<ul class="sub-menu"><li id="menu_mobile-item-3463" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3463"><a href="Front_Office/how-to-become-an-art-collector/index.htm"><span>Style 1</span></a></li><li id="menu_mobile-item-3464" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3464"><a href="Front_Office/how-to-start-your-own-art-collection/index.htm"><span>Style 2</span></a></li></ul>
</li><li id="menu_mobile-item-3465" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3465"><a href="#"><span>Classic</span></a>
	<ul class="sub-menu"><li id="menu_mobile-item-3471" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3471"><a href="Front_Office/classic-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu_mobile-item-3472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3472"><a href="Front_Office/classic-3-columns/index.htm"><span>3 columns</span></a></li></ul>
</li><li id="menu_mobile-item-3466" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3466"><a href="#"><span>Portfolio</span></a>
	<ul class="sub-menu"><li id="menu_mobile-item-3473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3473"><a href="Front_Office/portfolio-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu_mobile-item-3474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3474"><a href="Front_Office/portfolio-3-columns/index.htm"><span>3 columns</span></a></li><li id="menu_mobile-item-3475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3475"><a href="Front_Office/portfolio-4-columns/index.htm"><span>4 columns</span></a></li></ul>
</li><li id="menu_mobile-item-3467" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3467"><a href="#"><span>Chess</span></a>
	<ul class="sub-menu"><li id="menu_mobile-item-3468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3468"><a href="Front_Office/chess-2-columns/index.htm"><span>2 columns</span></a></li><li id="menu_mobile-item-3469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3469"><a href="Front_Office/chess-4-columns/index.htm"><span>4 columns</span></a></li><li id="menu_mobile-item-3470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3470"><a href="Front_Office/chess-6-columns/index.htm"><span>6 columns</span></a></li></ul>
</li></ul>
</li><li id="menu_mobile-item-3477" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3477"><a href="Front_Office/shop/index.htm"><span>Shop</span></a></li><li id="menu_mobile-item-3476" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-108 current_page_item menu-item-3476"><a href="index.htm" aria-current="page"><span>Contacts</span></a></li></ul></nav><div class="search_wrap search_style_normal search_mobile">
	<div class="search_form_wrap">
		<form role="search" method="get" class="search_form" action="https://ozeum.themerex.net/">
			<input type="hidden" value="" name="post_types">
			<input type="text" class="search_field" placeholder="Search" value="" name="s">
			<button type="submit" class="search_submit trx_addons_icon-search"></button>
					</form>
	</div>
	</div><div class="socials_mobile"><a target="_blank" href="https://twitter.com/ThemerexThemes" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span class="social_icon social_icon_twitter-1"><span class="icon-twitter-1"></span></span></a><a target="_blank" href="https://www.instagram.com/themerex_net/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span class="social_icon social_icon_instagramm"><span class="icon-instagramm"></span></span></a><a target="_blank" href="https://www.facebook.com/ThemeRexStudio" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span></a></div>	</div>
</div>

			<div class="page_content_wrap">
								<div class="content_wrap">

					<div class="content">
												<a id="content_skip_link_anchor" class="ozeum_skip_link_anchor" href="#"></a>
						
<article id="post-108" class="post_item_single post_type_page post-108 page type-page status-publish hentry">

	
	<div class="post_content entry-content">
				<div data-elementor-type="wp-post" data-elementor-id="108" class="elementor elementor-108">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-eb6f689 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="eb6f689" data-element_type="section">
						<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-07efdd6 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="07efdd6" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2af3ad8 sc_height_huge animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="2af3ad8" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-68ebb0b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="68ebb0b" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:200}">
						<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-eec2376 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="eec2376" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-d48b9ea elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d48b9ea" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-25ffb29 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="25ffb29" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f2f72f0 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_title" data-id="f2f72f0" data-element_type="widget" data-widget_type="trx_sc_title.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_title_99737926" class="sc_title color_style_dark sc_title_decoration extra_vision"><h2 class="sc_item_title sc_title_title sc_item_title_style_decoration sc_item_title_tag"><span class="sc_item_title_text">Add your address</span></h2></div><!-- /.sc_title -->		</div>
				</div>
				<div class="elementor-element elementor-element-60c9191 sc_height_small animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="60c9191" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-b59d72b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b59d72b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-d827793 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="d827793" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-66b7301 animation_type_block sc_fly_static elementor-widget elementor-widget-text-editor" data-id="66b7301" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Please enter your delivery address.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-418f9f9 sc_height_medium animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="418f9f9" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-4f35739 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_contact_form_7" data-id="4f35739" data-element_type="widget" data-widget_type="trx_sc_contact_form_7.default">
				<div class="elementor-widget-container">
			
<div class="wpcf7 no-js" id="wpcf7-f60-p108-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/contacts/#wpcf7-f60-p108-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="60">
<input type="hidden" name="_wpcf7_version" value="5.8.4">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f60-p108-o1">
<input type="hidden" name="_wpcf7_container_post" value="108">
<input type="hidden" name="_wpcf7_posted_data_hash" value="">
</div>
<div class="columns_wrap">
	<div class="column-1_2">
		<p><span class="wpcf7-form-control-wrap" data-name="text-your-name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Adresse" value="" type="text" name="text-your-name"></span>
		</p>
	</div>
	<div class="column-1_2">
		<p><span class="wpcf7-form-control-wrap" data-name="email-your-email"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Ville" value="" type="email" name="email-your-email"></span>
		</p>
	</div>
</div>
<div class="columns_wrap">
	<div class="column-1_1">
		<p><span class="wpcf7-form-control-wrap" data-name="textarea-message"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Code postal" name="textarea-message"></textarea></span>
		</p>
	</div>
</div>
<div class="columns_wrap">
		</p>
	</div>
</div>
<div class="columns_wrap">
	<div class="column-1_1">
		<div class="wpcf7-submit-wrap">
			<p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="Submit">
			</p>
		</div>
	</div>
</div><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-fd297e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fd297e9" data-element_type="section">
						<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7b39fe4 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="7b39fe4" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a60c4be sc_height_huge animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="a60c4be" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				
					
				</div>
				</div>
					</div>
		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-d98fbf8 sc_height_small animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="d98fbf8" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					
				</div>
				</div>
					</div>
		</div>
							</div>
		
				
				
				
				
			
				
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ef821f3 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="ef821f3" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:200}">
						<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6976e15 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="6976e15" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e40d53d sc_height_huge animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="e40d53d" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-0078009 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0078009" data-element_type="section">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-6b73a5d sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="6b73a5d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-322aa09 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_title" data-id="322aa09" data-element_type="widget" data-widget_type="trx_sc_title.default">
				<div class="elementor-widget-container">
			<div id="trx_sc_title_193253991" class="sc_title sc_title_decoration extra_vision"><h2 class="sc_item_title sc_title_title sc_item_title_style_decoration sc_item_title_tag"><span class="sc_item_title_text">Frequently Asked Questions</span></h2></div><!-- /.sc_title -->		</div>
				</div>
				<div class="elementor-element elementor-element-587a710 sc_height_medium animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="587a710" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
			

				</div>
								</div>
				</div>
				</div>
					

					

					
				
				
								</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-c037d0d sc_height_huge animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="c037d0d" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
			</div><!-- .entry-content -->

	
</article>
						</div><!-- </.content> -->
										</div><!-- </.content_wrap> -->
								</div><!-- </.page_content_wrap> -->

							<a id="footer_skip_link_anchor" class="ozeum_skip_link_anchor" href="#"></a>
				<footer class="footer_wrap footer_custom footer_custom_814 footer_custom_main-footer						 scheme_dark						">
			<div data-elementor-type="cpt_layouts" data-elementor-id="814" class="elementor elementor-814">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-c7e20c4 elementor-section-full_width scheme_dark elementor-section-height-default elementor-section-height-default" data-id="c7e20c4" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d2f22b3 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="d2f22b3" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-ce11f08 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ce11f08" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-e44ce11 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="e44ce11" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-642ffde animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="642ffde" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-4bd1d2f sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="4bd1d2f" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-3c90772 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3c90772" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-166902a sc-mobile_layouts_column_align_center sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="166902a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-abf4222 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo" data-id="abf4222" data-element_type="widget" data-widget_type="trx_sc_layouts_logo.default">
				<div class="elementor-widget-container">
			<a href="Front_Office/index.htm" id="trx_sc_layouts_logo_1061438169" class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_493190818"><img class="logo_image" src="Front_Office/wp-content/uploads/2019/10/logo_2.png" srcset="Front_Office/wp-content/uploads/2019/10/logo_2-retina.png 2x" alt="Ozeum" width="162" height="23"></a><!-- /.sc_layouts_logo -->		</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-3fff7c4 animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="3fff7c4" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-5fdfe62 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_widget_contacts" data-id="5fdfe62" data-element_type="widget" data-widget_type="trx_widget_contacts.default">
				<div class="elementor-widget-container">
			<div id="trx_widget_contacts_243065304" class="widget_area sc_widget_contacts"><aside id="trx_widget_contacts_243065304_widget" class="widget widget_contacts"><div class="contacts_wrap"><div class="contacts_info"><span class="contacts_address">Art & History Museum <br> 34th Ave, Queens, NY 11106</span><a href="tel:+18001234545" class="contacts_phone">+1 (800) 123 45 45</a></div></div><!-- /.contacts_wrap --></aside></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5129a41 sc-mobile_layouts_column_align_center sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="5129a41" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-bd7e9e8 scheme_dark animation_type_block sc_fly_static elementor-widget elementor-widget-trx_widget_custom_links" data-id="bd7e9e8" data-element_type="widget" data-widget_type="trx_widget_custom_links.default">
				<div class="elementor-widget-container">
			<div id="trx_widget_custom_links_1513667357" class="widget_area sc_widget_custom_links"><aside id="trx_widget_custom_links_1513667357_widget" class="widget widget_custom_links"><h5 class="widget_title">Links</h5><ul class="custom_links_list"><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="Front_Office/index.htm"><span class="custom_links_list_item_title">Home</span></a></li><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="Front_Office/events/list/index.htm"><span class="custom_links_list_item_title">Exhibitions</span></a></li><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="Front_Office/collections/index.htm"><span class="custom_links_list_item_title">Collections</span></a></li><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="Front_Office/events/index.htm"><span class="custom_links_list_item_title">Events</span></a></li></ul></aside></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-74a7869 sc-mobile_layouts_column_align_center sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="74a7869" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-15706d1 scheme_dark animation_type_block sc_fly_static elementor-widget elementor-widget-trx_widget_custom_links" data-id="15706d1" data-element_type="widget" data-widget_type="trx_widget_custom_links.default">
				<div class="elementor-widget-container">
			<div id="trx_widget_custom_links_1780523680" class="widget_area sc_widget_custom_links"><aside id="trx_widget_custom_links_1780523680_widget" class="widget widget_custom_links"><h5 class="widget_title">Info</h5><ul class="custom_links_list"><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="Front_Office/about-us/index.htm"><span class="custom_links_list_item_title">About </span></a></li><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="index.htm"><span class="custom_links_list_item_title">Contact</span></a></li><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="Front_Office/all-posts/index.htm"><span class="custom_links_list_item_title">Blog</span></a></li><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="Front_Office/shop/index.htm"><span class="custom_links_list_item_title">Shop</span></a></li></ul></aside></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-08dee39 sc-mobile_layouts_column_align_center sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="08dee39" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-5e018d5 scheme_dark animation_type_block sc_fly_static elementor-widget elementor-widget-trx_widget_custom_links" data-id="5e018d5" data-element_type="widget" data-widget_type="trx_widget_custom_links.default">
				<div class="elementor-widget-container">
			<div id="trx_widget_custom_links_1561052979" class="widget_area sc_widget_custom_links"><aside id="trx_widget_custom_links_1561052979_widget" class="widget widget_custom_links"><h5 class="widget_title">Social</h5><ul class="custom_links_list"><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="https://twitter.com/ThemerexThemes%20" target="_blank"><span class="custom_links_list_item_title">Twitter </span></a></li><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="https://www.instagram.com/themerex_net/" target="_blank"><span class="custom_links_list_item_title">Instagram</span></a></li><li class="custom_links_list_item"><a class="custom_links_list_item_link" href="https://www.facebook.com/ThemeRexStudio" target="_blank"><span class="custom_links_list_item_title">Facebook</span></a></li></ul></aside></div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-fb5c671 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fb5c671" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-d5c26df sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="d5c26df" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-61ace85 animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="61ace85" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="sc_layouts_item elementor-element elementor-element-5dfb6a3 sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="5dfb6a3" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-34031d5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="34031d5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-aa2dcb7 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="aa2dcb7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-cbff538 animation_type_block sc_fly_static elementor-widget elementor-widget-spacer" data-id="cbff538" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-12e7532 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="12e7532" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e15d783 sc-mobile_layouts_column_align_center sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="e15d783" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-c8f7a32 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_widget_socials" data-id="c8f7a32" data-element_type="widget" data-widget_type="trx_widget_socials.default">
				<div class="elementor-widget-container">
			<div id="trx_widget_socials_1345964503" class="widget_area sc_widget_socials"><aside id="trx_widget_socials_1345964503_widget" class="widget widget_socials"><div class="socials_wrap sc_align_none"><a target="_blank" href="https://twitter.com/ThemerexThemes" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span class="social_icon social_icon_twitter-1"><span class="icon-twitter-1"></span></span></a><a target="_blank" href="https://www.instagram.com/themerex_net/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span class="social_icon social_icon_instagramm"><span class="icon-instagramm"></span></span></a><a target="_blank" href="https://www.facebook.com/ThemeRexStudio" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span class="social_icon social_icon_facebook"><span class="icon-facebook"></span></span></a></div></aside></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-62e56da sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="62e56da" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="sc_layouts_item elementor-element elementor-element-723229f scheme_dark animation_type_block sc_fly_static elementor-widget elementor-widget-text-editor" data-id="723229f" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p><span class="trx_addons_copyright"><a href="https://themerex.net" target="_blank" rel="noopener">THEMEREX</a> © 2024. ALL RIGHTS RESERVED.</span></p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
	
</body>
</html>
<!-- WP Optimize page cache - https://getwpo.com - Page not served from cache because: In the settings, caching is disabled for matches for one of the current request&#039;s GET parameters -->
