<form method="post" action="{{ path('app_admin_museum_delete', {'idm': museum.idm}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ museum.idm) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
