<!-- Panier section -->
<div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="book-table">
    <div>
        <h2 class="section-title mb-5">VOTRE PANIER</h2>
        <div class="row mb-5" id="meal-list">
            <div class="col-md-12">
                <ul class="list-group" id="meal-list-items">
                    <!-- Meal items will be dynamically added here -->
                </ul>
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary" id="clear-meal-btn">Vider</button>
        <button type="button" class="btn btn-lg btn-primary" id="add-meal-btn">Confirmer</button>
    </div>
</div>
