{% extends 'base.html.twig' %}

{% block title %}Edit Museum{% endblock %}

{% block body %}
    <h1>Edit Museum</h1>

    {{ include('admin_museum/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_museum_index') }}">back to list</a>

    {{ include('admin_museum/_delete_form.html.twig') }}
{% endblock %}
