{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <h1>Résultats de la recherche{% if searchTerm is defined %} pour "{{ searchTerm }}"{% endif %}</h1>

    {% if museums is not empty %}
        <ul>
            {% for museum in museums %}
                <li>{{ museum.name }}</li>
                <!-- Afficher d'autres détails du musée selon vos besoins -->
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun musée trouvé{% if searchTerm is defined %} pour "{{ searchTerm }}"{% endif %}</p>
    {% endif %}
{% endblock %}
