<!DOCTYPE html>
<html lang="fr">
<head>
<head>
    <!-- Autres balises meta et liens -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation à notre événement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }
        .container {
            margin-top: 50px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
        }
        .description {
            margin-top: 20px;
            font-style: italic;
        }
        h2 {
            color: #333333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Invitation à notre événement d'Embauche Saisonnière</h2>
        <div class="description">
            <p>Vous recherchez une opportunité de carrière passionnante dans un environnement culturellement enrichissant ? Ne cherchez pas plus loin ! Rejoignez-nous pour notre événement d'Embauche Saisonnière 2024 au Musée des Arts et de la Culture.</p>
            <p>En tant que l'une des destinations culturelles les plus prisées de la région, le Musée des Arts et de la Culture offre une variété de postes saisonniers dans des domaines tels que l'accueil, la médiation culturelle, la sécurité, la restauration, et bien d'autres encore.</p>
            <p>Lors de cet événement, vous aurez l'opportunité de rencontrer notre équipe de recrutement, d'en apprendre davantage sur les postes disponibles et de poser toutes vos questions sur les opportunités de carrière au musée. Vous pourrez également découvrir les coulisses du musée lors de visites guidées spéciales et rencontrer des membres du personnel actuel pour en savoir plus sur la vie professionnelle au musée.</p>
            <p>Date : [22-05-2024]<br>Heure : [09:00-12:30 ]<br>Lieu : [Musée de Bardo]<br>Tarif : Entrée gratuite pour tous les visiteurs</p>
        </div>
    </div>
</body>
</html>
