<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation à notre événement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }
        .container {
            margin-top: 50px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
        }
        .description {
            margin-top: 20px;
            font-style: italic;
        }
        h2 {
            color: #333333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Invitation à notre événement Autobus Physique</h2>
        <div class="description">
            <p>Plongez dans le monde fascinant de la physique lors de notre événement spécial "Autobus Physique" au Musée des Sciences et de la Technologie !</p>
            <p>Lors de cette journée unique, nous transformons un autobus en laboratoire ambulant de découvertes scientifiques, où les visiteurs de tous âges sont invités à explorer les principes fondamentaux de la physique à travers une série d'expériences interactives et d'activités ludiques.</p>
            <p>Accompagnés par notre équipe de scientifiques et d'animateurs, les visiteurs auront l'opportunité d'explorer ces concepts de manière pratique et amusante, tout en développant leur curiosité et leur compréhension de la physique.</p>
            <p>Date : [30-10-2024]<br>Heure : [09:00-12:30 ]<br>Lieu : [Musée de Bardo]<br>Tarif : Entrée gratuite pour tous les visiteurs</p>
        </div>
    </div>
</body>
</html>
