<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation à notre événement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }
        .container {
            margin-top: 50px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
        }
        .description {
            margin-top: 20px;
            font-style: italic;
        }
        h2 {
            color: #333333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Invitation à notre événement Music Festival</h2>
        <div class="description">
            <p>Découvrez l'art sous un nouveau jour lors de nos Expositions d'Art en Plein Air au Musée des Beaux-Arts !</p>
            <p>Plongez dans une expérience artistique immersive où les espaces extérieurs du musée se transforment en galeries d'art à ciel ouvert, mettant en valeur une sélection éclectique d'œuvres d'art contemporain et classique.</p>
            <p>Lors de cet événement spécial, les visiteurs auront l'opportunité de déambuler à travers les jardins du musée, les cours et les espaces verts, où ils découvriront des sculptures majestueuses, des installations artistiques innovantes et des peintures saisissantes. Les œuvres seront soigneusement disposées pour créer une expérience artistique fluide et harmonieuse, en interaction avec l'environnement naturel et architectural du musée.</p>
            <p>Date : [25-04-2024]<br>Heure : [09:00-12:30]<br>Lieu : [musée de Ichkeul]<br>Tarif : Entrée gratuite pour tous les visiteurs</p>
        </div>
    </div>
</body>
</html>
