<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation à notre événement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }
        .container {
            margin-top: 50px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
        }
        .description {
            margin-top: 20px;
            font-style: italic;
        }
        h2 {
            color: #333333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Invitation à notre événement Atelier Peinture et Protection du Cuir</h2>
        <div class="description">
            <p>Rejoignez-nous pour une expérience artistique et éducative unique au sein de notre musée, où l'art et la préservation du patrimoine se rejoignent dans un atelier captivant : "Atelier Peinture & Protection du Cuir".</p>
            <p>Lors de cet événement spécial, les participants auront l'opportunité d'explorer les techniques de peinture traditionnelles sur cuir, tout en apprenant l'importance cruciale de la conservation et de la protection des artefacts en cuir dans notre patrimoine culturel.</p>
            <p>Encadrés par des artistes expérimentés et des conservateurs du musée, les participants auront d'abord l'occasion d'admirer de près des exemples authentiques d'objets en cuir de notre collection, notamment des reliures de livres anciens, des vêtements historiques et des accessoires d'époque. Ils découvriront ainsi la richesse et la diversité des techniques artistiques utilisées sur le cuir à travers les siècles.</p>
            <p>Date : [22-04-2024]<br>Heure : [10:00-16:30 ]<br>Lieu : [Musée de Bardo]<br>Tarif : Entrée gratuite pour tous les visiteurs</p>
        </div>
    </div>
</body>
</html>
