{# templates/admin_stats_user_statut/stats.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>User Status Statistics</title>
</head>
<body>
    <h1>User Status Statistics</h1>

    <p>Total Users: {{ totalUsers }}</p>
    <p>Approved Users: {{ approvedUsers }}</p>
    <p>Blocked Users: {{ blockedUsers }}</p>
</body>
</html>
